/* Place your CSS styles in this file */

header {
    border-bottom: 10px dashed white;
    background: pink;    
    text-align: center;
    font: 20px "Borel", fantasy;
    /*color: purple;*/
    padding: 5px 10px;
    width: 100%;
    margin-top: -20px;
    margin-left: -12px;
}

.bodyDiv {
    border: 7px dotted palevioletred;
    border-radius: 5px;
    padding: 30px;
    margin: 50px 250px;
    background-color: lightcyan;    
    text-align: center;
}

body {
    background-color:lavender;
}

h1 {
    color: rebeccapurple;
    margin-bottom: -15px;
}

body,h2,h3,h4,h5,h6,select,input {
    font-family: 'Bitter', serif;
    font-weight: 300;
}

.resultSpan,.resultDiv {
    border: 3px dotted mediumpurple;
    border-radius: 5px;
    padding: 5px;
    /*margin: auto;*/
    background-color: white;    
    text-align: center;
}

.flex-container {
    display: flex;
}

.float-container {
    padding: 5px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
}  

footer {
    background-color: mediumpurple;
    color: white;
    padding: 10px;
    text-align: center;
    left: 0;
    bottom: 0;
    position: fixed;
    width: 100%;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: underline;
    color:white;
}

button {
 position: relative;
 display: inline-block;
 cursor: pointer;
 outline: none;
 border: 0;
 vertical-align: middle;
 text-decoration: none;
 font-family: inherit;
 font-size: 15px;
}

button {
    background-color: pink;
    border-radius:14px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:inherit;
    font-size:13px;
    padding:5px 9px;
    text-decoration:none;
}

button.learn-more {
 font-weight: 600;
 color: #382b22;
 text-transform: uppercase;
 padding: 1.25em 2em;
 background: #fff0f0;
 border: 2px solid #b18597;
 border-radius: 0.75em;
 -webkit-transform-style: preserve-3d;
 transform-style: preserve-3d;
 -webkit-transition: background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more::before {
 position: absolute;
 content: '';
 width: 100%;
 height: 100%;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: #f9c4d2;
 border-radius: inherit;
 -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0.75em, -1em);
 transform: translate3d(0, 0.75em, -1em);
 transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-transform 150ms cubic-bezier(0, 0, 0.58, 1), -webkit-box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
}

button.learn-more:hover {
 background: #ffe9e9;
 -webkit-transform: translate(0, 0.25em);
 transform: translate(0, 0.25em);
}

button.learn-more:hover::before {
 -webkit-box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0.5em, -1em);
 transform: translate3d(0, 0.5em, -1em);
}

button.learn-more:active {
 background: #ffe9e9;
 -webkit-transform: translate(0em, 0.75em);
 transform: translate(0em, 0.75em);
}

button.learn-more:active::before {
 -webkit-box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
 box-shadow: 0 0 0 2px #b18597, 0 0 #ffe3e2;
 -webkit-transform: translate3d(0, 0, -1em);
 transform: translate3d(0, 0, -1em);
}
